.searchContainer{
    position: absolute;
    width: 75%;
    left: 12.5%;
    background: linear-gradient(black, #f1f1f1);
}

.logo img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    size: fit;
    align-content: center;

}
.logo{
    grid-area: header;
    padding: 0;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.logo h3{
    color: #269CC1;
}
.searchBar{
    margin: 3%;
    position: relative;
    top: -100px;
}
.resultsContainer{
    margin: 8%;
    position: relative;
    background-color: transparent;
    height: auto;

}
.result{
    padding-top: 20px;
    padding-bottom: 100px;
    width: 100%;
    background-color: white;
    margin: 0%;
    box-shadow: inset 0px 0px 0px 1px#828282;
    border-radius: 8px;
    display: grid;
    height: 250px;
    margin-bottom: 20px;
    grid-template-areas:
    'header name name name rating stars stars'
    'header pro pro pro btn btn btn'
    'otzyv city city city btn2 btn2 btn2'
    ;

}

.result h2{
    position: relative;
    font-size: 24px;
    color:#269CC1;
}
.result h3{
    position: relative;
    font-size: 16px;
    color:#333333;
    padding: 0;
}
.result h4{
    position: relative;
    font-size: 16px;
    color:#333333;
    font-style: italic;
}

.result button{
    width: 80%;
    padding: 0;
    position: relative;
    height: 70px;
    left:0;
}

.item2 { grid-area: name; }
.item3 { grid-area: pro; }
.item4 { grid-area: city; }
.item6 {
    grid-area: rating;}

.item5 {
    grid-area: otzyv; 
    text-align: center;
    color: #269CC1;
}


.item8{
    grid-area: btn2;
}
.item7 {
    width: 100%;
    /* position: absolute; */
    left: 0;
    grid-area: btn;


}
.searchBar button{
   text-align: center;
   
}

#hirebtn{
    background-color: #C12626;
}

#rev{
    color: #269CC1;
    font-size: 14px;
    font-style: italic;
}