.searchBar{
  padding-top: 40px;
  display: flex;
}

.searchBar input{
  flex-grow: 1; 
  font-size: 20px;
  border-radius: 8px;
  border-color: transparent;
  color: #333333;
  padding: 14px 8px;
}
.searchBar button{
  padding: 14px 50px;
}

.resultsContainerBack {
  background-image: url("../../assets/pics/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.resultsContainer{
  width: 90%;
  margin: 0 auto;
}
.logo img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.logo h3 {
  color: #269CC1;
}